PORT=5000
MONGODB_URI=mongodb+srv://app:Noor-143@app.41gjehy.mongodb.net/?retryWrites=true&w=majority&appName=App
BETTER_AUTH_SECRET=ba_h1dzl48ngmbcs3rjhhrbil80cu8l5q0d
BETTER_AUTH_URL=http://localhost:5000
GOOGLE_CLIENT_ID=<your_google_oauth_client_id>
GOOGLE_CLIENT_SECRET=<your_google_oauth_client_secret>
CLIENT_URL=http://localhost:3000
NODE_ENV=development
